/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html {
    height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#container {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 0px auto;
}
body {
    height: 100%;
    padding-top: 0px;
    background: #40a0e9;
    background-image: url("/assets/home_pattern_70.png");
    background-image: url("/assets/home_pattern_70.png"), -webkit-gradient(linear, left top, left bottom, from(#318AE5), to(#50B8ED));
    background-image: url("/assets/home_pattern_70.png"), -webkit-linear-gradient(top, #318AE5, #50B8ED);
    background-image: url("/assets/home_pattern_70.png"), -moz-linear-gradient(top, #318AE5, #50B8ED);
    background-image: url("/assets/home_pattern_70.png"), -ms-linear-gradient(top, #318AE5, #50B8ED);
    background-image: url("/assets/home_pattern_70.png"), -o-linear-gradient(top, #318AE5, #50B8ED);
    background-image: url("/assets/home_pattern_70.png"), linear-gradient(to bottom, #318AE5, #50B8ED);
}
